.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  border: 3px solid black;
  float: left;
  line-height: 150px;
  height: 150px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  width: 150px;
}

.square.over {
  border: 3px dashed #000;
  opacity: 70%;
}
